[submodule "klipper/klipper"]
	path = klipper/klipper
	url = https://github.com/KevinOConnor/klipper.git
[submodule "moonraker/moonraker"]
	path = moonraker/moonraker
	url = https://github.com/Arksine/moonraker
[submodule "fluidd/fluidd"]
	path = fluidd/fluidd
	url = https://github.com/fluidd-core/fluidd.git
